<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %>

    <body>
        <div class="abt">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae rerum cumque quas corrupti mollitia ipsa nemo.
                Quaerat saepe exercitationem alias, itaque optio aliquam eum quidem vitae, nam inventore nemo excepturi.
                Autem commodi rem enim perspiciatis neque nemo odio quasi laboriosam, quas delectus? Vero iste id
                perferendis ea tenetur aspernatur non, maxime architecto eos et nulla fugiat, nostrum nesciunt tempora at!
                Ducimus ratione repudiandae est laborum fugiat fuga dolorem exercitationem. Recusandae iste necessitatibus
                iusto perferendis maxime reiciendis dolores minus cupiditate natus velit doloremque esse, reprehenderit
                assumenda pariatur, magnam doloribus possimus distinctio.
                Quam officiis quasi distinctio sunt corporis ut necessitatibus impedit nam reiciendis minima eos
                voluptatibus magnam natus, vero blanditiis. Incidunt iusto repellendus voluptatibus facilis nihil sint
                voluptate eveniet harum nesciunt recusandae.
                Rerum maxime hic, iusto laudantium animi dignissimos non praesentium expedita amet eius, accusantium modi,
                officiis sapiente voluptatum? Optio nostrum amet, voluptas velit nisi corrupti explicabo consectetur,
                inventore tenetur vel rerum.
            </p>
        </div>
       
    </body>
    <%- include('./partials/footer') %>

</html>